@import "tailwindcss";

* {
  box-sizing: border-box;
  color-scheme: dark;
  --nav-height: 4rem;
  --max-width: 80rem;
  --button-radius: 0.75rem;
  --button-clip-path: polygon(
    var(--button-radius) 0,
    100% 0,
    100% calc(100% - var(--button-radius)),
    calc(100% - var(--button-radius)) 100%,
    0 100%,
    0 var(--button-radius)
  );
}

/*  ============= USE OKLCH COLORS =============
Use this link to test colours: https://oklch.com
Convert hsl to oklch: https://atmos.style/color-converter/hsl-to-oklch

L = Lightness (0-1) | How light or dark the color is (0 = black, 100 = white)
C = Chroma (0-0.37) | How intense or vivid the color is (0 = gray, higher = more saturated)
H = Hue (0-360)     | The angle on the color wheel (0° = red, 120° = green, 240° = blue, etc.)
*/

@theme {
  --color-primary: oklch(0.5519 0.1972 23.06); /*#cc2936*/
  --color-cs-blue: #26397e;
  --color-background: oklch(0.2 0 0);
  --color-cs-yellow: #ffad01;
  --color-success-text: oklch(64.3% 0.205 148.9);
  --color-success-bg: oklch(90% 0.205 148.9);
  --color-success-border: oklch(64.3% 0.205 148.9);
  --color-warning-text: oklch(64.3% 0.205 26.9);
  --color-warning-bg: oklch(90% 0.205 26.9);
  --color-warning-border: oklch(64.3% 0.205 26.9);

  --color-nade-smoke: #ffffff;
  --color-nade-he: #22c55e;
  --color-nade-molly: #f97316;
  --color-nade-flash: #3b82f6;
}

@layer base {
  [data-theme="dark"] {
  }
}

@font-face {
  font-family: "Hoover";
  src: url("/fonts/Hoover/Hoover-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Satoshi", sans-serif;
}
